In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# # display plots in the notebook
# %matplotlib inline
# # increase default figure and font sizes for easier viewing
# plt.rcParams[‘figure.figsize’] = (8, 6)
# plt.rcParams[‘font.size’] = 17

In [23]:
file_name = '2019-09-03_indeed-ds-postings_cleaned.csv'
names = ['job_title',
        'company_name',
        'annual_salary',
        'city',
        'state',
        'zipcode',
        'neighborhood',
        'description',
        'link',
]
df = pd.read_csv(file_name, index_col=0, skiprows=1, names=names)
# df['annual_salary'] = df['annual_salary'].str.replace('Similar jobs pay ','')

df.head(10)

,job_title,company_name,annual_salary,city,state,zipcode,neighborhood,description,link
0,"Statistical Genetics, Data Scientist",Camp4 Therapeutics Corporation,NaN,Cambridge,MA,,,job description camp4 is seeking a data scient...,03bf439bfa53ee13
1,Data Scientist,"MIB Group, Inc.",NaN,Braintree,MA,02184,,position summary: mib is committed to providin...,c920345674fcc072
2,Translational Medicine and Data Science Expert,Novartis,NaN,Cambridge,MA,,,20 petabytes of data. 2 million patient-years ...,4fdbb9b5cb09e0d2
3,Computational Biologist/Data Scientist,Goldfinch Bio,NaN,Cambridge,MA,,,goldfinch bio is a biotechnology company that ...,f14bc6dec8b4f60f
4,Principal Data Scientist,Verizon,NaN,Boston,MA,02109,Central area,what you’ll be doing... as a principal data sc...,8d13390a342786e0
5,Data Scientist / Machine Learning Architect / ...,Profitect Inc.,NaN,Burlington,MA,,,profitect’s research and development team is l...,b7ae218bbb0b2a50
6,Data Scientist (Full-Time),proton.ai,97500.0,Boston,MA,,,*job description data scientist (full-time)tea...,8cacfaa3c21d0129
7,"Data Scientist (Intern, Part-Time)",proton.ai,NaN,Boston,MA,,,"data scientist (intern, part-time)team: data ...",1a087273ecb3d9e3
8,Sr. Data Scientist,Cubic IT,24795.0,Boston,MA,,,job summarylooking for an experienced machine ...,8b0554b4567cb6b0
9,Data Scientist,Park Jockey,NaN,Boston,MA,,,who you’ll work for reef technology is the eco...,0cc7c0afb827e835

In [24]:
print("salary median: " + str(df["annual_salary"].median()))
print("salary mean: " + str(df["annual_salary"].mean()))

salary median: 82032.0
salary mean: 80961.54133333334

In [21]:
# test = 'Similar jobs pay 76000 - 112000'

In [16]:
import re
''.join(re.findall(r'\d+', test))

'76000112000'